<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="/register?tipo=login" class="login_header">login</a>
  <h2>Choose</h2>
  <a href="/register?tipo=tutor" class="tutor">Tutor</a>
  <a href="/register?tipo=ong" class="ong">Ong</a>
  <a href="/register?tipo=instituicao" class="instituicao">Instituição</a>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>