<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="options">
    <img src="" alt="" id="perfilTutor">

    <div id="options">
      <a href="/perfil?tipo=perfil-tutor">perfil</a>
      <button id="add-pet-btn">add pet
      </button>
      <a href="">doar</a>
      <a href="{{ url_for('tutores') }}">dashboard</a>
      <a href="{{ url_for('home') }}">sair</a>
    </div>

  </section>

  <!-- MODAL -->

  <div id="add-pet-modal" style="display: none;">
    <form action="" method="post" enctype="multipart/form-data">
      {{ registerPet.csrf_token }}

      {{ registerPet.nome (placeholder='nome') }}
      {{ registerPet.especie (placeholder='especie') }}
      {{ registerPet.raca (placeholder='raca') }}
      {{ registerPet.sexo (placeholder='sexo') }}
      {{ registerPet.idade (placeholder='idade') }}
      <label for="">Foto</label>
      {{ registerPet.foto (placeholder='foto') }}
      
      <button id="add-pet-btn">submit</button>
    </form>
  </div>
  
  <section class="dashboard"></section>

  <section class="noti-pet">
    <div class="notificacoes"></div>

    <div class="pet-info">
      {% for pet in petInfo %}
        {% if pet.foto %}
          <img src="{{ url_for('static', filename='uploads/' + pet.foto) }}" alt="mini-foto-do-pet" id="pet-foto" style="height: 150px;">
        {% else %}
          <img src="{{ url_for('static', filename='uploads/default.png') }}" alt="mini-foto-do-pet" id="pet-foto" style="height: 150px;">
        {% endif %}
      <div>
        <a href=""><h3>{{ pet.nome }}</h3></a>
        <p>Descrição/ ainda não sei</p>
      </div>

      <a href="/perfil?tipo={{ pet.nome }}" id="vacinaBtn">Ir para pet</a>
    </div>
      {% endfor %}
  </section>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>